<div class="col-md-12">
  <div id="content" class="col-md-4">
    <h1> <%= @course.name %> </h1>
    <p><%= h @course.description %></p>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-6">
    <h3> List subjects </h3>
    <ul class ="list-group">
    <% @subjects.each do |subject| %>
      <li class="list-group-item list-group-item-info">
        <%= link_to subject.name, course_subject_path(@course, subject) %>
      </li>
    <% end %>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-6">
    <h3> List Users </h3>
    <ul class ="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item list-group-item-info">
        <%= link_to user.name, user_path(user) %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
